* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "encabezado"
                         "principal"
                         "pie_de_pagina";
}

header{
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contenedor_logo{
    display: flex;
    justify-content: center;
}

.barra_de_navegacion{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.barra_de_navegacion li a{
    text-decoration: none;
    padding: 5px;
}

main{
    grid-area: principal;
}

nav{
    grid-area: pie_de_pagina;
}

@media screen and (min-width: 720px){
    body{
        background-color: green;
    }

    header{
        grid-area: encabezado;
        flex-direction: row;
    }
    
    .contenedor_logo{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    nav{
        width: 70%;
    }

    .barra_de_navegacion{
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .galeria_img{
        
    }
}