.main_index {
    display: flex;
    height: 73%;
    text-align: center;
    padding: 0% 0% 3% 0%;
}

footer {
    font-size: 20px;
}

//shop.html | Desktop min - 1024px
.main_shop {
    display: flex;
    padding: 2%;
    column-gap: 5%;


    &_opciones_shop {
        display: flex;
        padding: 0;

        &_criterios {
            padding: 0;

            h2 {
                font-size: 120%;
            }
        }

        div li {
            justify-content: center;
            font-size: 95%;
        }

        &_div_adicionales_shop {
            display: flex;
            padding: 0;
        }
    }

    &_productos_shop {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 35px;
        padding: 0;

        &_card {
            width: 150px;

            img {
                height: 160px;
            }
        }
    }
}

//subscribe.html | Desktop min - 1024px
.main_subs {
    display: flex;
    padding: 2% 15% 1% 15%;
    row-gap: 10px;
    font-size: 160%;
}

.form-control {
    text-align: center;
    height: 30px;
    transition: all 2s;
}

.form-control:focus {
    font-size: 20px;
}

//news.html | Desktop min - 1024px
.main_news {
    display: flex;
    padding: 2%;

    &_div_notice {
        display: flex;
        padding: 0;
        column-gap: 2%;

        section {
            padding: 5%;
        }

        h2 {
            font-size: 200%;
        }

        p {
            font-size: 95%;
        }

        &_img_notice {
            display: flex;
            align-self: center;
            padding: 2%;
            width: 45%;
            height: 45%;
            border-radius: 20%;
        }

        ul {
            align-self: center;
        }
    }
}

//bag.html | Desktop min - 1024px
.main_bag {
    display: flex;
    padding: 0;
    row-gap: 0;

    &_div_item {
        display: flex;
        column-gap: 2%;
        padding: 2%;
        height: 150px;

        &_div_img {
            display: flex;
            padding: 0;
            width: 10%;
        }

        &_descripcion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
        }

        &_total {
            display: flex;
            align-items: center;
            width: 20%;
            font-size: 20px;
        }
    }

    &_div_resumen {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        &_cantidad {
            display: flex;
            justify-content: space-around;
        }

        &_envio {
            display: flex;
            justify-content: space-around;
        }

        &_total {
            display: flex;
            justify-content: space-around;

            button {
                width: 5%;
                border: none;
                border-radius: 0;
                font-size: 70%;
                justify-content: center;
            }
        }
    }

    .carousel {
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .carousel-inner {
        width: 50%;
    }

}