* {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #e7c6ff;
    color: white;
}

//Media - Mobile min-width: 481px

//index.html
header {
    display: grid;
    grid-template-areas:
        "logo navegacion"
        "titulo titulo"
        "buscador buscador";
    grid-template-columns: 30% 70%;
    grid-template-rows: 50%;
    padding: 5%;
    width: 100%;
    height: 33%;
    row-gap: 10px;

    &_main_index {
        display: flex;
        height: 73%;
        text-align: center;
        padding: 50% 5% 60% 5%;
    }

    .div_logo {
        grid-area: logo;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        &_img {
            border-radius: 20%;
            width: 100%;
            height: 85px;
        }
    }

    .barra_de_navegacion {
        grid-area: navegacion;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &_btn_header {
            border: none;
            width: 30%;
            font-size: 17px;
        }
    }

    .titulo {
        grid-area: titulo;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
    }

    .buscador_redes {
        grid-area: buscador;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;

        &_input {
            width: 150px;
            height: 25px;
            text-align: center;
            background-color: #e7c6ff;
            border-style: groove;
            font-size: 15;
        }

        &_img {
            width: 25px;
            border-radius: 10%;
        }

        button {
            display: flex;
            align-items: center;
            background-color: #e7c6ff;
            border: none;
            border-radius: 50%;

            img {
                width: 20px;
            }
        }
    }

    .btn {
        height: 25px;
    }
}

a {
    color: white;
}

.main_index {
    display: flex;
    height: 73%;
    text-align: center;
    padding: 50% 5% 53% 5%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//shop.html
.main_shop {
    display: grid;
    grid-template-areas:
        "opciones productos";
    grid-template-columns: 30% 70%;
    padding: 5%;

    &_opciones_shop {
        grid-area: opciones;
        display: flex;
        flex-direction: column;
        padding: 5%;

        &_criterios {
            padding: 5%;
        }

        h2 {
            text-align: center;
            font-size: 20px;
        }

        li {
            font-size: 13px;
        }

        &_div_adicionales_shop {
            display: flex;
            flex-direction: column;
            padding: 5%;
            row-gap: 20px;
            align-items: center;
            text-align: center;
            font-size: 15px;

            &_card {

                a {
                    background-color: #e7c6ff;
                    border: solid;
                    height: 35px;
                }
            }
        }
    }

    img {
        border-radius: 20%;
    }

    &_productos_shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5%;
        row-gap: 20px;
        column-gap: 10px;

        &_card {
            width: 100px;
            align-items: center;
            text-align: center;

            a {
                background-color: #e7c6ff;
                border: solid;
                height: 35px;
            }
        }
    }
}

//subscribe.html
.main_subs {
    display: flex;
    flex-direction: column;
    padding: 15% 5% 17% 5%;
    text-align: center;
    font-size: 20px;
}

.form-control {
    text-align: center;
    height: 30px;
    transition: all 2s;
}

.form-control:focus {
    font-size: 20px;
}

.col-12 {
    display: flex;
    font-size: 20px;
    justify-content: space-around;

    button {
        background-color: #e7c6ff;
        font-size: 15px;
        padding: 1%;
        border: solid;
        border-radius: 10%;
        width: 65px;
    }
}

//news.html
.main_news {
    display: flex;
    flex-direction: column;
    padding: 5%;
    row-gap: 10px;

    &_div_notice {
        display: block;

        &_img_notice {
            width: 250px;
            border-radius: 5%;
        }
    }
}

//bag.html
.main_bag {
    display: flex;
    flex-direction: column;
    padding: 5%;
    row-gap: 10px;


    &_div_item {
        display: grid;
        grid-template-areas:
            "imagen descripcion total";

        grid-template-columns: 20% 60% 20%;

        &_img {
            grid-area: imagen;
            display: flex;
            justify-content: center;
            padding: 5%;
        }

        &_descripcion {
            grid-area: descripcion;
            display: block;
            font-size: 15px;
        }

        &_total {
            grid-area: total;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                border: none;
            }
        }
    }

    .carousel {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    &_div_resumen {
        padding-bottom: 10%;

        h2 {
            text-align: center;
        }

        &_cantidad {
            display: flex;
            justify-content: space-between;
        }

        &_envio {
            display: flex;
            justify-content: space-between;
        }

        &_total {
            display: flex;
            justify-content: space-around;

            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 5%;
                border: none;
                border-radius: 0;
                font-size: 70%;
                justify-content: center;
            }
        }
    }

    div img {
        width: 90%;
        border-radius: 20%;
    }
}

.carousel {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.carousel-item img {
    height: 200px;
}

//Media - Mobile min-width: 768px
@media screen and (min-width: 768px) {

    //index.html
    header {
        display: grid;
        grid-template-areas:
            "logo navegacion"
            "titulo titulo"
            "buscador buscador";
        grid-template-columns: 30% 70%;
        grid-template-rows: 50%;
        padding: 5%;
        width: 100%;
        height: 33%;
        row-gap: 10px;

        .div_logo {
            grid-area: logo;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            &_img {
                border-radius: 20%;
                width: 125%;
                height: 100px;
            }
        }

        .barra_de_navegacion {
            grid-area: navegacion;
            display: flex;
            justify-content: space-between;
            width: 100%;

            &_btn_header {
                border: none;
                width: 30%;
                font-size: 24px;
            }
        }

        .titulo {
            grid-area: titulo;
            display: flex;
            justify-content: center;
            align-self: center;
            width: 100%;
        }

        .buscador_redes {
            grid-area: buscador;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            &_input {
                width: 250px;
                height: 30px;
                text-align: center;
                background-color: #e7c6ff;
                border-style: groove;
                font-size: 15;
            }

            &_img {
                width: 30px;
                border-radius: 10%;
            }

            button {
                display: flex;
                align-items: center;
                background-color: #e7c6ff;
                border: none;
                border-radius: 50%;

                img {
                    width: 30px;
                }
            }
        }

        .btn {
            height: 30px;
        }
    }

    .main_index {
        display: flex;
        height: 73%;
        text-align: center;
        padding: 30% 5% 28% 5%;
    }

    //shop.html
    .main_shop {
        display: grid;
        grid-template-areas:
            "opciones productos";
        grid-template-columns: 30% 70%;
        padding: 1%;

        &_opciones_shop {
            grid-area: opciones;
            display: flex;
            flex-direction: column;
            padding: 2%;

            &_criterios {
                padding: 2%;
            }

            h2 {
                text-align: center;
                font-size: 30px;
            }

            li {
                font-size: 18px;
            }

            &_div_adicionales_shop {
                display: flex;
                flex-direction: column;
                padding: 2%;
                row-gap: 25px;
                align-items: center;
                text-align: center;
                font-size: 20px;

                &_card {

                    a {
                        background-color: #e7c6ff;
                        border: solid;
                        height: 35px;
                    }
                }
            }
        }

        img {
            border-radius: 13%;
        }

        &_productos_shop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2%;
            row-gap: 35px;
            column-gap: 25px;

            &_card {
                width: 100px;
                align-items: center;
                text-align: center;

                a {
                    background-color: #e7c6ff;
                    border: solid;
                    height: 35px;
                }
            }
        }
    }

    //subscribe.html
    .main_subs {
        display: flex;
        flex-direction: column;
        padding: 1.5% 5% 3% 5%;
        text-align: center;
        font-size: 25px;
    }

    .footer_subs {
        display: none;
    }

    .form-control {
        text-align: center;
        height: 37px;
        transition: all 2s;
    }

    .col-12 {
        display: flex;
        font-size: 23px;
        justify-content: space-around;

        button {
            background-color: #e7c6ff;
            font-size: 20px;
            padding: 1%;
            border: solid;
            border-radius: 10%;
            width: 70px;
        }
    }

    //news.html
    .main_news {
        display: flex;
        flex-direction: column;
        padding: 5%;
        row-gap: 10px;

        &_div_notice {
            display: flex;
            column-gap: 33px;

            section {
                display: flex;
            }

            &_img_notice {
                display: flex;
                align-self: center;
                width: 30%;
                height: 150px;
                border-radius: 5%;
                ;
            }
        }
    }

    //bag.html
    .main_bag {
        display: flex;
        flex-direction: column;
        padding: 4%;
        row-gap: 7px;


        &_div_item {
            display: grid;
            grid-template-areas:
                "imagen descripcion total";

            grid-template-columns: 15% 60% 25%;

            &_img {
                grid-area: imagen;
                display: flex;
                justify-content: center;
                padding: 5%;
            }

            &_descripcion {
                grid-area: descripcion;
                display: block;
                font-size: 18px;
            }

            &_total {
                grid-area: total;
                display: flex;
                justify-content: space-around;
                align-items: center;

                button {
                    border: none;
                }
            }
        }

        .carousel {
            display: flex;
            padding: 0;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }

        &_div_resumen {
            padding-bottom: 5%;

            h2 {
                font-size: 40px;
                text-align: center;
            }

            &_cantidad {
                display: flex;
                justify-content: space-between;
                font-size: 25px;
            }

            &_envio {
                display: flex;
                justify-content: space-between;
                font-size: 25px;
            }

            &_total {
                display: flex;
                justify-content: space-around;
                font-size: 25px;

                button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 5%;
                    border: none;
                    border-radius: 0;
                    font-size: 80%;
                    justify-content: center;
                }
            }
        }

        div img {
            width: 90%;
            border-radius: 20%;
        }
    }

    .carousel {
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    .carousel-item img {
        height: 200px;
    }
}

//Media - Desktop min - 1024px
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        padding: 2%;
        column-gap: 1%;
        justify-content: space-between;

        .div_logo {
            display: flex;
            width: 30%;
            justify-content: center;

            &_img {
                width: 100px;
                height: 100px;
            }
        }

        .barra_de_navegacion {
            display: flex;
            justify-content: space-between;
            column-gap: 1%;

            button {
                font-size: 120%;
            }
        }

        .titulo h1 {
            text-align: center;
            font-size: 200%;
        }

        .buscador_redes {
            display: flex;
            align-items: center;

            &_input {
                height: 20%;
                font-size: 80%;
            }

            &_img {
                height: 18px;
                width: 18px;

            }
        }
    }

    //index.html | Desktop min - 1024px
    .main_index {
        display: flex;
        justify-content: center;
        padding: 25% 2% 35% 2%;
        font-size: 110%;
    }

    //shop.html | Desktop min - 1024px
    .main_shop {
        display: flex;
        padding: 2%;
        column-gap: 5%;


        &_opciones_shop {
            display: flex;
            padding: 0;

            &_criterios {
                padding: 0;

                h2 {
                    font-size: 120%;
                }
            }

            div li {
                justify-content: center;
                font-size: 95%;
            }

            &_div_adicionales_shop {
                display: flex;
                padding: 0;
            }
        }

        &_productos_shop {
            display: flex;
            flex-wrap: wrap;
            column-gap: 2%;
            row-gap: 35px;
            padding: 0;

            &_card {
                width: 150px;

                img {
                    height: 125px;
                }
            }
        }
    }

    //subscribe.html | Desktop min - 1024px
    .main_subs {
        display: flex;
        padding: 10% 15% 7.5% 15%;
        row-gap: 10px;
        font-size: 160%;
    }

    .form-control {
        text-align: center;
        height: 30px;
        transition: all 2s;
    }

    .form-control:focus {
        font-size: 20px;
    }

    //news.html | Desktop min - 1024px
    .main_news {
        display: flex;
        padding: 2%;

        &_div_notice {
            display: flex;
            padding: 0;
            column-gap: 2%;

            section {
                padding: 5%;
            }

            h2 {
                font-size: 200%;
            }

            p {
                font-size: 95%;
            }

            &_img_notice {
                display: flex;
                align-self: center;
                padding: 2%;
                width: 45%;
                height: 45%;
                border-radius: 20%;
            }
        }
    }

    //bag.html | Desktop min - 1024px
    .main_bag {
        display: flex;
        padding: 0;
        row-gap: 0;

        &_div_item {
            display: flex;
            column-gap: 2%;
            padding: 2%;
            height: 150px;

            &_div_img {
                display: flex;
                padding: 0;
                width: 10%;
            }

            &_descripcion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70%;
            }

            &_total {
                display: flex;
                align-items: center;
                width: 20%;
            }
        }

        &_div_resumen {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            &_cantidad {
                display: flex;
                justify-content: space-around;
            }

            &_envio {
                display: flex;
                justify-content: space-around;
            }

            &_total {
                display: flex;
                justify-content: space-around;

                button {
                    width: 5%;
                    border: none;
                    border-radius: 0;
                    font-size: 70%;
                    justify-content: center;
                }
            }
        }

        .carousel {
            display: flex;
            justify-content: center;
            padding: 2%;
        }

        .carousel-inner {
            width: 50%;
        }

    }
}